/*defino una paleta de colores, : (para pseudo selectores) root es un pseudo elemento, es un elemento que no existe html, es una forma de almacenar variables de css como custom properties*/

:root {
    --blanco: #f2f2f2;
    --primario: #3b8c8c;
    --secundario: #f29863;
    --terciario: #72aeb1;
    --grisoscuro:  rgba(80, 78, 78);
    --verde: #1CA68D;
    --verdeoscuro: #0c776b;
    --alternativo1: #27403D;
    --alternativo2: #B5CDCD;
    --alternativo3: #FC9F65;
    --alternativo4: #475F5F;
    --colorbarranv: #504e4e;

}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box; /* apply a natural box layout model to all elements, but allowing components to change */
}

body{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.nuevonav{
    background-color: rgba(80, 78, 78)!important;
  
}

.contenidonav {
    margin-right: 30px;
    margin-left: 30px;
}

.logo {
    margin-left: 30px;
   
}

.textonav {
    color: #f2f2f2!important;
}

.main {
    margin-top: 110px;
    background-position: center center;
    background-size: 100%; 
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23b5cdcd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    
}

.contenedor-escuela{
    background-image: url("./imagenes/bailarina2.png"), url("./imagenes/fondobailarina.png");
    background-repeat: no-repeat, repeat;
    background-position: center center;
    width:100%;
    height: 50%;
}

.contenido-escuela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb( 59 140 140 / 30%);
    height: 650px;
}

.contenido-escuela h1{
    text-align: center;
    color: #f29863;
    font-size: 50px;
    font-style: italic;
    text-shadow: 1px 1px 3px var(--primario);
}

.contenido-escuela h2{
    text-align: center;
    color: #f2f2f2;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 3px var(--secundario);   
}

.navbar p {
    color:#f29863!important;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    min-width: 180px;
}
.navbar ul li a:hover{
    color:#f29863!important;
}


.navbar ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}

.dropdown-item:hover {
    width: 80%; 
}

.contenedor-index {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.escuela h2{
    
    font-size: 35px;
    color:var(--secundario);
}

.escuela p{
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 20px;
    color: var(--verdeoscuro);
    width: 65%;
    text-align: justify;
    margin: auto;
}

.escuela img{
    align-items: center;
    margin: auto;
    padding-bottom: 100px;
}

/*STAFF*/
.contenedor-staff{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 80%;


}

.mainstaff{
    /*background-color:#3b8c8c;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #3b8c8c;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2372aeb1' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: repeat;
}

.nombre{                       
    font-size: 30px;
    color:#ffab7b;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
    text-align: left;
}

.cargo{
  
    font-size: 25px;
    color: #beeef1;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
}



.staff{
    font-size: 15px;
    color: white;
    margin: 0;
    text-align: left;
    padding: 16px;
    padding-left: 8%;
    padding-right: 8%;
    text-align: justify;
 
}

.cardstaff{
    border: none;
    background-color: transparent;

}

.card-body{
  
}
.imgstaff{
    max-height: 340px;
}

.container{
    padding-top: 40px !important;
    color: #ffab7b;
    font-family: 'Montserrat', sans-serif !important;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
}


/* CONTACTO */
.fondocontacto{
    background-color: var(--primario);

}

.infocontacto {
    color: white;
    font-size: 14px!important;
    padding-bottom: 30px;
}

.contcontacto{
    margin-bottom: 40px;
}

.contbutton{
    margin-bottom: 30px;
}


/*HORARIOS*/

.fondohorarios{
    background-color:#ffab7b;
    color: var(--primario);
}

.imghorarios{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: auto;
}

.imghorarios img{
    width: 700px;
}

.bodyhorarios{
    background-color: #3b8c8c;
}
/*FOOTER*/
.text-footer{
    list-style: none;
    color: white;
}

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap
}

.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.redes-footer{
    color: white;
    text-align: right;
}

.contenedor-redes {
    padding-right: 32px;
}

.logos-redes{
    display: flex; 
    justify-content: flex-end;
}

.loguito {
    margin-right: 20px;
}

.col-4{
    min-width: 400px;
}

.tab-content{
    color: red
 
}

@media (max-width: 780px) {
    .contenedor-redes, .text-footer { 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
    .staff{
        padding-left: 4%;
        padding-right: 4%;
    }
    .card-title{
        text-align: center;
    }


}

/*CLASES*/
.contenedor-clases{
    width: 65%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contenedor-clase{
    
}