/*defino una paleta de colores, : (para pseudo selectores) root es un pseudo elemento, es un elemento que no existe html, es una forma de almacenar variables de css como custom properties*/

:root {
    --blanco: #f2f2f2;
    --primario: #3b8c8c;
    --secundario: #f29863;
    --terciario: #72aeb1;
    --grisoscuro:  rgba(80, 78, 78);
    --verde: #1CA68D;
    --verdeoscuro: #0c776b;
}

*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box; /* apply a natural box layout model to all elements, but allowing components to change */
}

body{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.nuevonav{
    background-color: rgba(80, 78, 78)!important; 
}
.contenidonav {
    margin-right: 30px;
    margin-left: 30px;
}

.logo {
    margin-left: 30px;
   
}

.textonav {
    color: #f2f2f2!important;;
}

.main {
    margin-top: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.contenedor-escuela{
    background-image: url("./imagenes/bailarina2.png"), url("./imagenes/fondobailarina.png");
    background-repeat: no-repeat, repeat;
    background-position: center center;
    width:100%;
    height: 50%;

}

.contenido-escuela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb( 59 140 140 / 30%);
    height: 650px;
}

.contenido-escuela h1{
    text-align: center;
    color: #f29863;
    font-size: 50px;
    font-style: italic;
    text-shadow: 1px 1px 3px var(--primario);
    
}

.contenido-escuela h2{
    text-align: center;
    color: #f2f2f2;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 1px 1px 3px var(--secundario);
    
}

.navbar ul li a:hover{
    color:#f29863!important;
    
}



.navbar ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;

}
.dropdown-item:hover {
    width: 80%; 
}

.contenedor-index {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.escuela h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color:var(--secundario);
}

.escuela p{
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--primario);
    width: 65%;
    text-align: justify;
    margin: auto;
}

.escuela img{
    align-items: center;
    margin: auto;
    padding-bottom: 100px;
  

}

/*STAFF*/
.contenedor-staff{
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: 80%;
}

.mainstaff{
    background-color:#3b8c8c
}

.staff h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color:#ffab7b;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
}

.staff h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #beeef1;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
}

.staff{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    padding: 8%;
    text-align: left;
 
}

.cardstaff{
    border: none;
    background-color:var(--primario);
}


.container{
    padding-top: 40px !important;
    color: #ffab7b;
    font-family: 'Montserrat', sans-serif !important;
    text-shadow: 1px 1px 0.5px var(--grisoscuro);
}


/* CONTACTO */
.fondocontacto{
    background-color: var(--primario);
    height: 600px;
}

.infocontacto{
    color: white;
    font-size: 14px!important;
    margin-bottom: 30px;
}

.contcontacto{
    margin-bottom: 40px;
}



.containerfooter{
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 30px;
}

.text-foter{
    list-style: none;
    color: white;
}